@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100;
}

.triangle-vote-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 12px 6px;
  border-color: transparent transparent #888 transparent;
}

.text-white > .triangle-vote-up {
  border-color: transparent transparent #fff transparent;
}

.tick-circle:before {
  @apply bg-indigo-300 w-6 flex items-center justify-center h-6 rounded-full;
  content: "✔";
}

.tick-circle.primary:before {
  @apply bg-primary text-white;
}

li.tick-circle {
  @apply flex gap-1 my-2;
}

div.nav-popup {
  @apply hidden;
}
label.mobile-nav {
  @apply relative z-30;
}
input#navCb:checked ~ div.nav-popup {
  @apply block;
}

input#navCb {
  @apply hidden;
}
